@charset "UTF-8";

#tbl-board {
	width: 1057px;
	border-collapse: collapse;
	border-bottom: 1px solid #989898;
}

.change {
	background-color: rgb(255, 255, 255);
	color: white;
	border-radius: 2px;
	border: 1px solid lightgray;
	color: #4a4a4a;
	font-size: 13px;
	outline: none;
	cursor: pointer
}

.change:hover {
	border: 1px solid #4a4a4a;
	background-color: rgb(255, 255, 255);
}

.board-title {
	display: block;
	font-size: 45px;
	line-height: 56px;
	font-weight: bold;
	color: #484848;
	margin-bottom: 24px;
	width: 1050px;
	letter-spacing: -1px;
}

.buttons {
	position: relative;
	right: -461px;
}

#questionViewContent {
	/* min-height: 400px; */
	min-height: 400px;
}

.board-title {
	position: relative;
	font-size: 3em;
}

.board-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: white;
	align-items: center;
	padding-bottom: 100px;
}

table {
	width: 950px;
	border-collapse: collapse;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

th {
	border-top: 1px solid #989898;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	color: #434343;
	font-size: 25px;
	font-weight: 500;
	line-height: 66px;
	height: 66px;
}

td {
	color: #434343;
	font-size: 15px;
	line-height: 58px;
}

.subject {
	width: 70%;
	text-align: left;
	padding-left: 44px;
}

#pagebar {
	clear: both;
	text-align: center;
	margin: 20px 0;
}

.cPage {
	display: inline-block;
	background: #ff9826;
	border: 1px solid #ff9826;
	color: #fff;
	font-weight: normal;
	width: 27px;
	vertical-align: middle;
}

#pagebar a {
	background: #fff;
	text-decoration: none;
	display: inline-block;
	min-width: 27px;
	height: 27px;
	border: 1px solid #e3e3e3;
	padding: 0;
	height: 27px;
	color: #414141;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 27px;
	vertical-align: middle;
}

/*댓글등록버튼*/
#insertText {
	width: 820px;
	border: 1px solid #0000001f;
	resize: none;
}

#insertText2 {
	width: 600px;
	border: 1px solid #0000001f;
	resize: none;
}

div.comment-editor button#btn-insert {
	width: 60px;
	height: 65px;
	color: white;
	background: rgb(255, 255, 255);
	position: relative;
	top: -25px;
	border: 1px solid lightgray;
	color: rgb(41, 128, 185);
	left: -1px;
	margin-bottom: 7px;
	border-radius: 2px;
	font-size: 13px;
	outline: none;
	cursor: pointer;
}

div.comment-editor button#btn-insert:hover {
	border: 1px solid rgb(41, 128, 185);
}

/*댓글테이블*/
table#tbl-comment {
	width: 891px;
	margin: 0 0 11px 0;
	border-collapse: collapse;
	background-color: #f5f5f5;
}

table#tbl-comment tr td {
	padding: 5px;
	text-align: left;
	line-height: 150%;
}

table#tbl-comment tr td:first-of-type {
	padding: 5px 5px 10px 20px;
}

table#tbl-comment tr td:last-of-type {
	width: 100px;
}

table#tbl-comment button.btn-reply {
	display: none;
	background-color: lightgray;
	border: none;
	cursor: pointer;
}

table#tbl-comment tr:hover {
	background: lightgray;
}

table#tbl-comment tr:hover button.btn-reply {
	display: inline;
}

table#tbl-comment sub.comment-writer {
	color: navy;
	font-size: 14px
}

table#tbl-comment sub.comment-date {
	color: #4a4a4a;
	font-size: 10px
}

table#tbl-comment tr.level2 {
	color: gray;
	font-size: 14px;
}

table#tbl-comment tr.level2 td:first-of-type {
	padding-left: 100px;
}

table#tbl-comment tr.level2 sub.comment-writer {
	color: #8e8eff;
	font-size: 14px
}

table#tbl-comment tr.level2 sub.comment-date {
	color: #ff9c8a;
	font-size: 10px
}

/*답글관련*/
table#tbl-comment textarea {
	margin: 4px 0 0 0;
}

table#tbl-comment button.btn-insert2 {
	width: 60px;
	color: white;
	background: rgb(255, 255, 255);
	position: relative;
	top: -7px;
	border: 1px solid lightgray;
	color: rgb(41, 128, 185);
	left: -1px;
	margin-bottom: 7px;
	border-radius: 2px;
	font-size: 13px;
	outline: none;
	cursor: pointer;
}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete {
	background: lightgray;
	color: #f76666;
	border: none;
	display: none;
	cursor: pointer;
}

table#tbl-comment tr:hover button.btn-delete {
	display: inline;
}

.board-title {
	position: relative;
	font-size: 45px;
}

.board-container {
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 0 auto;
	background-color: white;
	align-items: center;
}

.board-tr>th {
	border-top: 1px solid #989898;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	color: #434343;
	font-size: 15px;
	font-weight: 500;
	line-height: 66px;
	height: 66px;
}

.board-tr>td {
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	color: #434343;
	font-size: 15px;
	line-height: 58px;
}

.subject {
	width: 55%;
	text-align: left;
}

#pagebar {
	clear: both;
	text-align: center;
	margin: 20px 0;
}

.cPage {
	display: inline-block;
	background: #ff9826;
	border: 1px solid #ff9826;
	color: #fff;
	font-weight: normal;
	width: 27px;
	vertical-align: middle;
}

#pagebar a {
	background: #fff;
	text-decoration: none;
	display: inline-block;
	min-width: 27px;
	height: 27px;
	border: 1px solid #e3e3e3;
	padding: 0;
	height: 27px;
	color: #414141;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 27px;
	vertical-align: middle;
}

/* 글쓰기 스타일  */
#writing-container {
	text-align: end;
	width: 1050px;
	margin-bottom: 15px;
}

#writing {
	width: 100px;
	height: 26px;
	line-height: 26px;
	background-color: #d1d1d1;
	border: 1px solid black;
	text-align: center;
	color: #000 !important;
	font-size: 12px;
}

/* community-view */
#content {
	flex-direction: column;
	align-items: center;
}

#comment-container {
	width: 1410px;
	background-color: white;
}

tr, td {
	text-align: left;
	color: black;
	font-size: 13px;
	line-height: 58px;
	border-top: 1px solid #0000000f;
}

#comment-container {
	text-align: center;
	width: 1400px;
	margin: 0 auto;
}

#tableContent {
	height: 200px;
	width: 252px;
}

.space {
	height: 150px;
}

#questionViewContent {
	font-size: 17px;
	padding-left: 20px;
}

.fileName {
	color: #404040;
}