@charset "UTF-8";

#btn-add {
	background-color: rgb(41, 128, 185);
    color: white;
    box-shadow: 0 2px 5px rgb(0 0 0 / 16%), 0 2px 10px rgb(0 0 0 / 12%);
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
    margin-left: 969px;
    margin-bottom: 11px;
}

.board-title {
	position: relative;
	font-size: 3em;
}

.board-container {
	display: flex;
	flex-direction: column;
	height: 1070px;
	margin: 0 auto;
	background-color: white;
	align-items: center;
	padding-top: 30px;
}

#tbl-board {
	width: 1057px;
	border-collapse: collapse;
}

.board-tr>th {
	border-top: 1px solid #989898;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	color: #434343;
	font-size: 15px;
	font-weight: 500;
	line-height: 66px;
	height: 66px;
}


.board-tr>td {
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	color: #434343;
	font-size: 15px;
	line-height: 58px;
}

.subject {
	width: 70%;
	text-align: left;
	padding-left: 44px;
}

#pagebar {
	clear: both;
	text-align: center;
	margin: 20px 0;
}

.cPage {
    display: inline-block;
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
    color: #fff;
    font-weight: normal;
    width: 21px;
    vertical-align: middle;
    text-align: center;
}

#pagebar a {
	background: #fff;
	text-decoration: none;
	display: inline-block;
	min-width: 27px;
	height: 27px;
	border: 1px solid #e3e3e3;
	padding: 0;
	height: 27px;
	color: #414141;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 27px;
	vertical-align: middle;
}