@charset "UTF-8";

.detail_wrap {
	padding: 40px 0;
	min-height: 787px;
	box-sizing: border-box;
}

.mypageCont {
	float: right;
	width: calc(100% - 200px);
}

.tit01 {
	display: block;
	margin-bottom: 56px;
	font-size: 38px;
	line-height: 56px;
	font-weight: bold;
	color: #484848;
	letter-spacing: -1px;
}

.mypageCont .mypageDesc2 {
	margin-top: 50px;
	margin-left: 50px;
}

.mypageCont .mypageDesc2 .topArea {
	padding-bottom: 20px;
	margin-bottom: 35px;
	border-bottom: 1px solid #e6e6e6;
}

.mypageCont .mypageDesc2 .tit04 {
	float: left;
	margin-bottom: 0;
}

.mypageDesc2 dl {
	position: relative;
	padding-left: 150px;
	margin-bottom: 25px;
}

.mypageDesc2 dl dt {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	font-size: 14px;
	line-height: 20px;
	color: #999;
}

.mypageCont .mypageDesc2>dl dd {
	position: relative;
	display: inline-block;
	width: 470px;
}

.mypageCont .mypageDesc2.license.active {
	display: block;
}

.mypageCont .mypageDesc2.license {
	display: none;
}

.mypageCont .mypageDesc2 {
	margin-top: 50px;
}

.mypageCont .mypageDesc2 .topArea {
	padding-bottom: 20px;
	margin-bottom: 35px;
	border-bottom: 1px solid #e6e6e6;
}

.mypageCont .mypageDesc2 .tit04 {
	float: left;
	margin-bottom: 0;
}

.tit04 {
	display: block;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
}

.mypageCont .mypageDesc2 p {
	font-size: 14px;
	line-height: 20px;
	color: #7f7f7f;
}

.mypageCont .mypageDesc2 .btnGroup {
	text-align: center;
	margin-top: 40px;
}

.mypageCont .btnGroup {
	margin-top: 32px;
	text-align: center;
}

.mypageCont .btnGroup a:last-child {
	margin-right: 0;
}

.btn-pwd-pop, .btn-cp-modify {
	width: 75px;
	min-width: 75px;
	box-shadow: 0 2px 5px rgb(0 0 0/ 16%), 0 2px 10px rgb(0 0 0/ 12%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: none;
	font-size: 13px;
	padding: 11 px 0; background-color : rgb( 94, 94, 94); color : white;
	outline: none;
	background-color: rgb(94, 94, 94);
	color: white;
	height: 100%;
}

.mypageCont .mypageDesc2 .infoBtn {
	padding: 7px 30px 7px 30px;
	font-size: 14px;
	border: 1px solid #d1d1d6;
}

.mypageCont .btnGroup a {
	width: 160px;
	margin-right: 10px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

dl dd .input-text-outer-wrap.have-right-section .input-text-outer-wrap__right-section a
	{
	padding: 11px 0;
	background-color: rgb(94, 94, 94);
	color: white;
}

.input-text-outer-wrap {
	position: relative;
	display: flex;
	margin-bottom: 10 px;
}

.input-text-outer-wrap.is-login-text .is-text-inner-wrap input,
	.input-text-outer-wrap.is-login-text .is-text-inner-wrap input[type="search"],
	.input-text-outer-wrap.is-login-text .is-text-inner-wrap input[type="tel"],
	.input-text-outer-wrap.is-login-text .is-text-inner-wrap input[type="text"],
	.input-text-outer-wrap.is-login-text .is-text-inner-wrap input[type="password"],
	.input-text-outer-wrap.is-login-text .is-text-inner-wrap input[type="number"]
	{
	box-sizing: border-box;
	padding: 13px 16px;
	font-size: 16px;
	line-height: normal;
	background-color: #fff;
}

.input-text-outer-wrap .is-text-inner-wrap textarea,
	.input-text-outer-wrap .is-text-inner-wrap input,
	.input-text-outer-wrap .is-text-inner-wrap input[type="search"],
	.input-text-outer-wrap .is-text-inner-wrap input[type="tel"],
	.input-text-outer-wrap .is-text-inner-wrap input[type="text"],
	.input-text-outer-wrap .is-text-inner-wrap input[type="password"],
	.input-text-outer-wrap .is-text-inner-wrap input[type="number"] {
	width: 100%;
	/* height: 100%; */
	border: 1px solid #dcdbdc;
	background: none;
}

.input-text-outer-wrap.have-right-section .input-text-outer-wrap__right-section button,
	.input-text-outer-wrap.have-right-section .input-text-outer-wrap__right-section a
	{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 13px 0;
	font-size: 15px;
	line-height: normal;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.input-text-outer-wrap .is-text-inner-wrap {
	display: block;
	position: relative;
	box-sizing: border-box;
	border-radius: 3px;
}

.input-text-outer-wrap.have-right-section {
	padding-right: 110px;
}

form {
	margin-top: 50px;
}