@charset "UTF-8";

.updatePwd_wrap {
	padding: 20px 0 140px;
	min-height: 787px;
	box-sizing: border-box;
}

.pop_header {
	height: 36px;
	text-align: center;
	margin: 20px 20px 0px 20px;
}

.pop_header strong {
	display: flex;
	font-weight: bold;
	margin-bottom: 56px;
	font-size: 38px;
	line-height: 56px;
	color: #484848;
	letter-spacing: -1px;
	border-bottom: 1px solid lightgrey;
	padding: 0 0 10px 0;
	text-align: left;
}

.modalNew .close {
	position: absolute;
	top: 15px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.modalNew .pop_cont {
	padding: 20px 40px;
}

input {
	color: #333;
	outline: none;
}

ol, ul {
	list-style: none;
	padding-left: 100px;
}

.pop_cont {
	float: right;
	position: absolute;
	margin: 50px 0 0 300px; 
	float: right;
	width: calc(100% -200px);
}

.modalNew .pop_cont .inputWrap ul li {
	margin-top: 30px;
}

.modalNew .pop_cont .inputWrap ul li label {
	display: block;
	margin-bottom: 10px;
}

.modalNew .pop_cont .inputWrap ul li input[type="text"], .modalNew .pop_cont .inputWrap ul li input[type="password"]
	{
	display: block;
	border: 1px solid #dcdbdc;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 14px;
	width: 465px;
	height: 50px;
	padding: 5px 10px;
}

.modalNew .pop_footer {
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	clear: both;
	width: 100%;
}

.updatePwdBtn {
	display: block;
	width: 50%;
	background-color: rgb(94, 94, 94);
	cursor: pointer;
	display: block;
	padding: 11px 0;
	font-size: 15px;
	color: #fff;
	margin: 0 auto;
	box-shadow: 0 2px 5px rgb(0 0 0/ 16%), 0 2px 10px rgb(0 0 0/ 12%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: none;
	font-size: 13px;
	outline: none;
}

#frmPwdUpdate {
	width: 800px;
	margin: 50px;
}

label {
	font-size: 14px;
	color: #999;
}

input[type="password"] {
	display: block;
	border: 1 px solid #dcdbdc;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 14px;
	height: 50px;
	padding: 5px 10px;
	display: block;
	border: 1px solid #dcdbdc;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 14px;
	width: 100%;
	height: 50px;
	padding: 5px 10px;
	border: 1px solid lightgray;
	margin: 20px 0 20px 0;
	width: 600px;
}

.inputWrap {
	margin-top: 56px;
}