@CHARSET "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

/********** 전체 컨테이너 **********/
div#container {
	background-color: #f4f4f4;
	width: 100%;
	height: auto;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

body {
	margin: 0px;
	position: relative;
}

html {
	visibility: visible;
	opacity: 1;
}

nav ul {
	background-color: rgb(255, 255, 255);
	list-style-type: none;
	/* 마진 패딩 지정하지 않으면 브라우저 기본 스타일을 따라 설정되므로 오버라이딩 필요 */
	margin: 0;
	margin-left: 20%;
	padding: 0;
}

/* li 는 블록요소인데 inline-block 으로 인라인속성 부여해서 나란히 배치 */
nav ul li {
	display: inline-block;
}

.signUp, .login {
	background-color: rgb(39, 174, 96);
	width: 100px;
	text-align: center;
	font-weight: bold;
	float: right;
}

.signUp a, .login a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 16px 16px;
	font-size: 13px;
}

.reserCall {
	background-color: rgb(41, 128, 185);
	color: white;
	font-size: 12px;
	width: 120px;
	text-align: center;
	font-weight: bold;
	float: right;
	padding: 5px 3px 5px 3px;
	margin: 15px 10px 0 10px;
	font-weight: normal;
}

.header {
	position: absolute;
}

.header_wrap .logo {
	left: 10px;
}

.header_wrap .logo {
	position: absolute;
	top: 21px;
	left: 40px;
	z-index: 100;
}

h1, .mark {
	color: rgb(39, 174, 96);
	width: 120px;
	margin: 0 20px 0 20px;
	text-align: left;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	color: black;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	margin: 0 30px 0 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	position: relative;
	z-index: 3;
}

/* dropdown-menu 에는 hover 적용이 안됨 */
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover {
	background-color: rgb(39, 174, 96);
}

.dropdown-menu:hover:not(.login, .signUp) {
	background-color: rgb(39, 174, 96);
	color: white;
}

/********** content **********/
section#content {
	background-color: #F5F5F5;
	float: left;
	width: 100%;
	height: 1000px;
}

.section0 {
	position: relative;
}

/* 날짜 위 문구 */
.home_img {
	opacity: 0.9;
	padding: 20px 20px !important;
	border-radius: 20px;
	top: 0 !important;
	margin: 0;
	right: 5px;
	text-align: right;
	position: relative;
	z-index: 2;
}

.home_img>#home_car_img {
	height: 200px;
	position: relative;
	z-index: 0;
}

.subs>h4 {
	font-size: 38px !important;
	margin: 0 0 30px 0;
	position: relative;
	z-index: 1;
}

.subs>h4>span {
	color: rgb(39, 174, 96) !important;
	font-size: 44px !important;
	margin-right: 10px;
}

.visual_cont {
	position: absolute;
	top: 44%;
	left: 50%;
	margin-left: -585px;
	margin-top: -216px;
}

.subs {
	background-color: #ffffff;
	opacity: 0.9;
	padding: 20px 20px !important;
	border-radius: 20px;
	width: 50% !important;
	top: 0 !important;
}

.visual_cont .subs {
	position: absolute;
	font-size: 21px;
	line-height: 27px;
	top: 80px;
	left: 5px;
	width: 40%;
	height: auto;
	left: 5px;
	margin: 0;
	padding: 0;
	letter-spacing: 0.2px;
	color: #333;
}

.subs p {
	padding-left: 10px;
	font-size: 18px;
	color: #333 !important;
}

.visual_cont p {
	font-size: 18px;
	line-height: 38px;
	color: #fff;
	letter-spacing: -1px;
}

.subs .point {
	font-size: 20px !important;
	font-weight: bold;
	margin: 0;
	color: rgb(192, 57, 43) !important;
}

.point {
	color: rgb(39, 174, 96);
}

/* 날짜 선택 */
.search_area {
	position: absolute;
	top: 48%;
	width: 100%;
}

.wrap {
	position: relative;
	width: 1170px;
	min-width: 1170px;
	margin: 0 auto;
}

.tab_cont {
	box-sizing: border-box;
}

.tab_cont .tab.active {
	display: block;
}

.search_form {
	position: relative;
	padding: 16px 195px 16px 211px;
	height: 112px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 2px 16px 0 rgb(0 0 0/ 15%);
	border-radius: 6px;
}

.search_form form {
	position: relative;
}

.search_form form>div {
	float: left;
	margin-right: 10px;
	width: 280px;
}

.search_form form>div:last-child {
	margin-right: 0;
}

.search_form form>div.edate {
	margin-right: 0;
}

.search_form form>div .searchBox {
	position: relative;
	display: block;
	padding: 13px 16px;
	height: 50px;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
}

.sdate .searchBox>input, .edate .searchBox>input {
	border: none;
	width: 215px;
	margin-left: 20px;
	font-size: 17px;
}

.search_form form>div input {
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

input[type="text"] {
	border-radius: 3px;
}

input {
	color: #333;
	outline: none;
}

.search_form form>div:last-child {
	margin-right: 0;
}

.search_form form>div label {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.search_form .search_btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 170px;
	height: 112px;
	border-radius: 0 6px 6px 0;
	box-shadow: 0 5px 10px 0 rgb(0 0 0/ 30%);
	background-color: rgb(64, 64, 64);
}

.search_form .search_btn span {
	font-size: 18px;
	line-height: 27px;
	color: #fff;
	font-weight: bold;
}

/* 예약 가능 차량, 예약 가능 차종 */
.data {
	position: relative;
	margin-top: 25px;
}

.data li {
	float: left;
	margin-right: 82px;
	padding: 10px;
}

ol, ul {
	list-style: none;
}

.data li strong {
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: rgb(64, 64, 64);
}

.data li span {
	display: block;
	font-size: 36px;
	line-height: 54px;
	color: rgb(64, 64, 64);
}

/* visual_area 끝 */

/* board_area 시작 */
.hidden, .hide {
	display: none;
}

.board_area {
	position: relative;
}

.wrap {
	position: relative;
	width: 1170px;
	min-width: 1170px;
	margin: 0 auto;
}

.latestList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.latestBoard {
	width: 345px;
	height: 285px;
}

.latestBoard .boardTitle {
	background-color: rgb(41, 128, 185);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	text-decoration: none;
	padding: 18px 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 18px 25px;
}

.latestBoard .boardTitle .titleKr {
	font-size: 20px;
	font-weight: 500;
}

.latestBoard .boardTitle .fas {
	font-size: 14px;
}

.latestBoard .boardList {
	background-color: #fff;
	height: 150px;
	padding: 24px 20px 0;
	border-radius: 5px;
}

.latestBoard .boardList .listItem {
	color: #242b2b;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 22px;
	margin-bottom: 14px;
	text-decoration: none;
}

.latestBoard .boardList .itemTitle {
	font-size: 13px;
	width: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.latestBoard .boardList .itemDate {
	font-size: 12px;
}

.latestBoard .boardTitle .fas {
	font-size: 14px;
}

.fa, .fas {
	font-weight: 900;
}

.fa, .fab, .fal, .far, .fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

/* board_area 끝 */

/* nav 시작 */

section.searchSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section.searchSection .searchLayout {
	background-color: #27ae60;
	border-radius: 3px;
	width: 1037px;
	height: 173px;
	padding: 20px;
	margin: 20px;
}

section.searchSection .searchLayout .searchLine {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.searchSection .searchLayout .searchBorder {
	display: flex;
	justify-content: flex-end;
}

section.searchSection .searchLayout .searchBorder hr {
	width: 910px;
	height: 1px;
	margin: 15px 0;
	padding: 0;
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
}

section.searchSection .searchLayout .searchLabel {
	color: #fff;
	line-height: 57px;
	width: 85px;
	text-align: center;
}

section.searchSection .searchLayout .searchContent {
	font-size: 20px;
	font-weight: 500;
	margin: 10px;
}

section.searchSection .searchLayout .searchCar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 910px;
}

section.searchSection .searchLayout .searchRadio input {
	display: none;
}

section.searchSection .searchLayout .searchRadio input:checked+span {
	background-color: rgb(64, 64, 64);
	color: #fff;
}

section.searchSection .searchButton {
	background-color: rgb(64, 64, 64);
	border-color: #212326;
	width: 159px;
	border-radius: 3px;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	margin: 20px;
}

section .searchButton {
	cursor: pointer;
}

section.searchSection .searchLayout .searchRadio span {
	display: inline-block;
	height: 57px;
	line-height: 57px;
	min-width: 86px;
	padding: 0 10px;
	color: #69666a;
	font-size: 17px;
	font-weight: 500;
	background-color: #fff;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}

.hasNavDatepicker {
	display: inline-block;
	height: 48px;
	width: 310px;
	line-height: 57px;
	min-width: 86px;
	padding: 0 10px;
	color: #69666a;
	font-size: 17px;
	font-weight: 500;
	background-color: #fff;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	border: 0;
}

/* nav 끝 */

/********** footer **********/

footer {
	background-color: #4a4a4a;
	clear: both;
	height: 75px;
	text-align: center;
	padding-top: 40px;
	color: white;
	font-size: 12px;
	display: block;
}